  /* label color */
  .input-field label {
    color: #000;
  }

  .input-field input {
    color: #646464  !important;
    font-size: 28px !important;
    border-bottom: 0px 0px 0px 0px transparent tra;
    box-shadow: transparent tra;
  }

  /* label hover color */
  .input-field input[type=text]:hover + label {
    color: #f57c00 ;
  }

  /* label underline hover color */
  .input-field input[type=text]:hover {
    color: #fb8c00   !important;
  }

  /* valid color */
  .input-field input[type=text].valid {

  }
  /* invalid color */
  .input-field input[type=text].invalid {

  }
  /* icon prefix hover color */
  .input-field .prefix.active {
    color: #646464;
  }